/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:
  
  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com
  
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: border-box; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted. 
  don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover 
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.cf, .recommendation {
  zoom: 1; }
  .cf:before, .recommendation:before, .cf:after, .recommendation:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .cf:after, .recommendation:after {
    clear: both; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  max-width: 680px;
  margin: 0 auto; }

a,
a:visited {
  color: #e67e22;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.site-header {
  padding: 10% 0 0; }
  .site-header h1, .site-header h2 {
    text-transform: lowercase;
    font-size: 22px; }
  .site-header h1 {
    color: #3a4445; }
  .site-header h2 {
    color: #95a5a6;
    font-weight: 300; }

.logo {
  margin-bottom: 1em; }

[class^="icon"] {
  width: 64px;
  opacity: .2;
  margin-bottom: 3em; }

section {
  padding: 0 1.2em 2em;
  margin: 2em auto; }
  section h2 {
    text-transform: lowercase;
    font-size: 22px;
    margin-bottom: 2em;
    color: #3a4445; }
  section p,
  section ul,
  section .year {
    max-width: 640px;
    margin: 0 auto;
    line-height: 1.4em;
    color: #6d8082;
    text-align: left;
    font-weight: 300; }
  section p {
    color: #4a5758; }
    @media (min-width: 440px) {
      section p {
        text-align: justify;
        color: #6d8082; } }
  section .year {
    font-size: 13px;
    color: #bfc8c9;
    margin-bottom: .35em; }
  section h3 {
    text-transform: lowercase;
    margin-bottom: .35em; }
    section h3 span {
      color: #bfc8c9;
      font-weight: 300;
      padding: 0 .25em; }

.recommendation {
  margin: 2em 0;
  padding: .2em 0 .2em 1.5em;
  border-left: 2px dashed #e67e22;
  font-size: 13px; }
  .recommendation p a {
    text-decoration: underline; }
  .recommendation footer {
    margin-top: 1em; }
  .recommendation img {
    width: 48px;
    border-radius: 100%;
    float: left;
    margin-right: 1em; }
  .recommendation a {
    color: #6d8082; }
    .recommendation a:hover {
      text-decoration: none; }
    .recommendation a span {
      display: block;
      line-height: 1.4em; }
  .recommendation .name {
    color: #6d8082;
    padding-top: 5px; }
  .recommendation .title {
    font-weight: 300;
    color: #bfc8c9; }

.about p {
  margin-bottom: 1em; }

.timeline li {
  margin-bottom: 3.5em; }
  .timeline li:last-child {
    margin-bottom: 0; }

.footprint ul {
  text-align: center; }
.footprint li {
  display: inline-block; }
  .footprint li a {
    display: inline-block;
    font-size: 12px;
    padding: .2em .5em;
    margin: 0 .2em;
    border-radius: 3px;
    border: 1px solid #e67e22; }
    .footprint li a:hover {
      background: #e67e22;
      color: #fff;
      text-decoration: none; }
  @media (min-width: 440px) {
    .footprint li a {
      display: inline-block;
      font-size: 14px;
      padding: .4em 1em;
      margin: 0 .5em; } }
